<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/User_Assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/User_Assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/User_Assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/User_Assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/User_Assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/User_Assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/User_Assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/User_Assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

</head>

<body>
    @* <div id="preloder">
        <div class="loader"></div>
    </div> *@

    
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li>Hello, @User.Identity.Name</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="~/User_Assets/img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            @if (User.Identity?.IsAuthenticated ?? false)
                            {
                                <div class="header__top__right__auth">
                                    <a asp-action="Logout" asp-controller="Account"><i class="fa fa-user"></i> Logout</a>
                                </div>
                                
                            }
                            else
                            {
                                <div class="header__top__right__auth">
                                    <a asp-action="Login" asp-controller="Account"><i class="fa fa-user"></i> Login</a>
                                </div>
                            }


                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a asp-action="Index" asp-controller="Home" asp-area=""><img src="~/User_Assets/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a asp-controller="Home" asp-area="" asp-action="Index">Home</a></li>
                            <li>
                                <a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a asp-action="Index" asp-controller="Cart" asp-area="">Shoping Cart</a></li>
                                    <li><a asp-action="Index" asp-controller="Post" asp-area="">Blog</a></li>
                                </ul>
                            </li>

                            <li><a asp-area="" asp-controller="Post" asp-action="Index">Post</a></li>
                            <li><a asp-controller="Contact" asp-area="" asp-action="Index">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <ul>
                                <li>@await Component.InvokeAsync("OrderSummary")</li>


                                <li>@await Component.InvokeAsync("CartSummary")</li>
                            </ul>
                        }
                        else
                        {
                            
                        }

                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Page Preloder -->
    @RenderBody()
    <!-- Blog Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="~/User_Assets/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="~/User_Assets/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger intent="WELCOME"
                  chat-title="Tech-shop"
                  agent-id="bf209fc9-44ff-4248-b2f6-d3bec909241a"
                  language-code="en"></df-messenger>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/User_Assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/User_Assets/js/bootstrap.min.js"></script>
    <script src="~/User_Assets/js/jquery.nice-select.min.js"></script>
    <script src="~/User_Assets/js/jquery-ui.min.js"></script>
    <script src="~/User_Assets/js/jquery.slicknav.js"></script>
    <script src="~/User_Assets/js/mixitup.min.js"></script>
    <script src="~/User_Assets/js/owl.carousel.min.js"></script>
    <script src="~/User_Assets/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false);


</body>

</html>