@model UserModel

@{
	ViewData["Title"] = "Register";
}

<partial name="_Notifycation" />

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V4</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="~/LoginTemplate/images/icons/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="~/LoginTemplate/vendor/bootstrap/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="~/LoginTemplate/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="~/LoginTemplate/fonts/iconic/css/material-design-iconic-font.min.css">

	<link rel="stylesheet" type="text/css" href="~/LoginTemplate/vendor/animate/animate.css">

	<link rel="stylesheet" type="text/css" href="~/LoginTemplate/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="~/LoginTemplate/vendor/animsition/css/animsition.min.css">

	<link rel="stylesheet" type="text/css" href="~/LoginTemplate/vendor/select2/select2.min.css">

	<link rel="stylesheet" type="text/css" href="~/LoginTemplate/vendor/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="~/LoginTemplate/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/LoginTemplate/css/main.css">
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('~/LoginTemplate/images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-b-54">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<form asp-action="Register" asp-controller="Account" class="login100-form">
					<span class="login100-form-title p-b-49">
						Register
					</span>

					<div class="wrap-input100 validate-input m-b-23">
						<span class="label-input100">Username</span>
						<input asp-for="Username" class="input100" placeholder="Input Username">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
						<span asp-validation-for="Username" class="text-danger" />

					</div>

					<div class="wrap-input100 validate-input m-b-23">
						<span class="label-input100">Email</span>
						<input asp-for="Email" class="input100" placeholder="Input Email">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
						<span asp-validation-for="Email" class="text-danger" />

					</div>

					<div class="wrap-input100 validate-input m-b-23">
						<span class="label-input100">Password</span>
						<input asp-for="Password" class="input100" placeholder="Input Password">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
						<span asp-validation-for="Password" class="text-danger" />

					</div>
					<div class="wrap-input100 validate-input m-b-23">
						<span class="label-input100">Confirm Password</span>
						<input asp-for="ConfirmPassword" class="input100" placeholder="Confirm Password">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
						<span asp-validation-for="ConfirmPassword" class="text-danger" />
					</div>

					<div class="text-right p-t-8 p-b-31">
						<a href="#">
							Forgot password?
						</a>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Register
							</button>
						</div>
					</div>
					<div class="flex-col-c p-t-20">


						<a class="btn btn-warning" asp-action="Login" asp-controller="Account">Quay trở lại đăng nhập</a>

					</div>
					
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<script src="~/LoginTemplate/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="~/LoginTemplate/vendor/animsition/js/animsition.min.js"></script>
	<script src="~/LoginTemplate/vendor/bootstrap/js/popper.js"></script>
	<script src="~/LoginTemplate/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/LoginTemplate/vendor/select2/select2.min.js"></script>
	<script src="~/LoginTemplate/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/LoginTemplate/vendor/daterangepicker/daterangepicker.js"></script>
	<script src="~/LoginTemplate/vendor/countdowntime/countdowntime.js"></script>
	<script src="~/LoginTemplate/js/main.js"></script>

</body>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

}
</html>